{% extends 'main/base.html' %}

{% block title %}SMX{% endblock title%}

{% block content %}

{% load static %}
 
<div class="container-fluid">

        <!--logo smx-->
        <div class="row">
          {% include "main/navbar_2.html" %}
        </div>
      
</div>

<div class="container-fluid mb-3"
style="background-image: url('{{bg_achievement.image.url}}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;">

<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-5 my-auto col-12 col-md-5 my-auto  bg-white bg-opacity-50 py-3 pe-3 rounded-3 ms-3">
            <!-- <div class="position-absolute top-50 start-0 translate-middle-y"> -->
                <h1 class="display-4">Achievement</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus laborum, repellat?</p>    
        </div>
    </div>
    
</div>
</div>


<div class="container" id="dua">
<div class="row h-100">
  
  {% for achievement in achievements %}
  
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="position-relative mb-3">
                    <img src="{{achievement.thumbnail.url}}" alt="" class="card-img-top">
                    <div class="position-absolute bottom-0 end-0">
                        <a href="{% url 'achievement_detail' achievement.id %}" class="btn btn-primary m-2">Detail</a>
                    </div>
                </div>
                <div></div>
                <div class="card-title mb-3">{{achievement.event_name}}</div>
                <div class="card-text">
                    <p>{{achievement.description}}</p>
                </div>
            </div>
        </div>
    </div>
      
  {% endfor %}
</div>

<hr>

{% endblock content %}